interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/repositories?q=
  response:
    body: {string: '{"message":"Validation Failed","errors":[{"resource":"Search","field":"q","code":"missing"}],"documentation_url":"https://developer.github.com/v3/search"}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Status: [422 Unprocessable Entity]
      X-GitHub-Media-Type: [github.v3]
      X-RateLimit-Limit: ['10']
      X-RateLimit-Remaining: ['8']
      X-RateLimit-Reset: ['1477234465']
    status: {code: 422, message: Unprocessable Entity}
version: 1
